* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1A1A29;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.active {
  color: #7562E0;
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  bottom: 0.5rem;
  left: 0.55rem;
  background-color: #7562E0;
}

.header-top.scroll {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.639);
}

.header-top {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #181824;
}
.header-top .navigation {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-top .navigation .logo {
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
}
.header-top .navigation .logo a {
  color: #7562E0;
}
.header-top .navigation .mobile-menu {
  cursor: pointer;
  display: none;
}
.header-top .navigation .mobile-menu div {
  background-color: #fff;
  width: 32px;
  height: 2px;
  margin: 8px;
  transition: 0.3s ease-in-out;
}
.header-top .navigation .list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header-top .navigation .list .item {
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
  position: relative;
}
.header-top .navigation .list .item:hover {
  color: #7562E0;
}
.header-top .navigation .list .item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0.5rem;
  left: 0.55rem;
  background-color: #7562E0;
  transition: 0.4s ease-in-out;
}
.header-top .navigation .list .item:hover::after {
  width: 70%;
}

#inicio {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181824;
  color: #fff;
}
#inicio .caixa {
  width: 100%;
  height: 100vh;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  position: relative;
}
#inicio .caixa::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 1400px;
  height: 140px;
  background-color: #000036;
  bottom: -25px;
  left: 0;
}
#inicio .caixa .ld-esquerdo {
  width: 35%;
}
#inicio .caixa .ld-esquerdo span {
  font-weight: 500;
  font-size: 1.5rem;
}
#inicio .caixa .ld-esquerdo span h2 {
  font-size: 2.7rem;
}
#inicio .caixa .ld-esquerdo .servico {
  line-height: 1.5rem;
}
#inicio .caixa .ld-esquerdo .btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 3rem;
}
#inicio .caixa .ld-esquerdo .btns .btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
#inicio .caixa .ld-esquerdo .btns .btn-sobre {
  background-color: #7562E0;
  transition: 0.3s ease-in-out;
}
#inicio .caixa .ld-esquerdo .btns .btn-sobre:hover {
  background-color: #7562e0c8;
}
#inicio .caixa .ld-esquerdo .btns .btn-projetos {
  border: 1px solid #7562E0;
  transition: 0.3s ease-in-out;
}
#inicio .caixa .ld-esquerdo .btns .btn-projetos:hover {
  background-color: rgba(255, 255, 255, 0.139);
}
#inicio .caixa .esfera {
  width: 400px;
  background-color: #7562E0;
  width: 25rem;
  height: 25rem;
  border-radius: 100%;
  margin-top: 15rem;
}
#inicio .caixa .esfera img {
  margin: -3.1rem 0 0 2rem;
  height: 21rem;
}

#sobre {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #181824;
  color: #fff;
}
#sobre .caixa {
  width: 75%;
  max-width: 1400px;
}
#sobre .caixa .title-sobre {
  font-size: 1.6rem;
  margin-top: 8rem;
}
#sobre .caixa .texto-sobre {
  line-height: 1.8rem;
}
#sobre .caixa .caixas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0 0 0;
}
#sobre .caixa .caixas .caixa {
  width: 12rem;
  height: 12rem;
  display: flex;
  border-radius: 0.3rem;
  align-items: center;
  justify-content: center;
}
#sobre .caixa .caixas .caixa p {
  font-size: 1.4rem;
}
#sobre .caixa .caixas .caixa-ui {
  background-color: #848191;
}
#sobre .caixa .caixas .caixa-dev {
  background-color: #7562E0;
}
#sobre .caixa .servicos .title-servicos {
  font-size: 1.4rem;
  margin: 3rem 0 2rem 0;
}
#sobre .caixa .servicos .texto-servicos {
  font-size: 1.2rem;
}
#sobre .caixa .servicos .caixas-servicos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2rem;
}
#sobre .caixa .servicos .caixas-servicos .caixa {
  width: 16rem;
  height: 16rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
#sobre .caixa .servicos .caixas-servicos .caixa h4 {
  font-size: 1.2rem;
}
#sobre .caixa .servicos .caixas-servicos .caixa p {
  text-align: center;
  font-size: 0.9rem;
}
#sobre .caixa .servicos .caixas-servicos .caixa-dev {
  border: 1px solid #848191;
}
#sobre .caixa .servicos .caixas-servicos .boder {
  border: 1px solid #7562E0;
}

#projetos {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #181824;
  color: #fff;
}
#projetos .caixa-container {
  margin: 8rem 0 0 0;
  max-width: 1400px;
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
#projetos .caixa-container .slide {
  width: 1200px;
  max-width: 1400px;
}
#projetos .caixa-container .slide .my-slider {
  display: flex;
  width: 10%;
  gap: 2rem;
}
#projetos .caixa-container .slide .my-slider .caixa {
  background-color: #31313F;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  width: 320px;
  padding: 2rem;
  height: 400px;
  flex-direction: column;
}
#projetos .caixa-container .slide .my-slider .caixa img {
  border-radius: 0.5rem;
}
#projetos .caixa-container .slide .my-slider .caixa p {
  font-size: 1rem;
}
#projetos .caixa-container .slide .my-slider .caixa .btns {
  display: flex;
  justify-content: space-between;
}
#projetos .caixa-container .slide .my-slider .caixa .btns a {
  padding: 0.5rem;
  border-radius: 0.6rem;
}
#projetos .caixa-container .slide .my-slider .caixa .btns .link-online {
  background-color: #7562E0;
}
#projetos .caixa-container .slide .my-slider .caixa .btns .link-repositorio {
  border: 1px solid #7562E0;
}
#projetos .caixa-container .slide .swiper-button-next, #projetos .caixa-container .slide .swiper-button-prev {
  color: #7562E0;
}
#projetos .caixa-container .swiper {
  width: 1000px;
  max-width: 1400px;
  padding: 4rem 0;
  overflow: hidden;
}

@media (max-width: 1080px) {
  html {
    font-size: 80%;
  }

  #inicio .caixa {
    flex-direction: column;
  }
  #inicio .caixa::after {
    display: none;
  }
  #inicio .caixa .ld-esquerdo {
    width: 100%;
    text-align: center;
  }
  #sobre .caixa .servicos .caixas-servicos {
    grid-template-columns: 1fr;
  }

  #projetos .caixa-container .slide .my-slider .caixa {
    height: 300px;
  }
  #projetos .caixa-container .swiper {
    width: 730px;
  }
}
@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .header-top .navigation .mobile-menu {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    z-index: 12;
  }
  .header-top .navigation .mobile-menu.show .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .header-top .navigation .mobile-menu.show .line2 {
    opacity: 0;
  }
  .header-top .navigation .mobile-menu.show .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .header-top .navigation .list {
    position: absolute;
    top: 3.8rem;
    right: 0;
    width: 50%;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
    background-color: #181824;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }
  .header-top .navigation .list.show {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
