@use 'variaveis' as * ;

#inicio {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-secondary;
    color: $white;

    .caixa {
        width: 100%;
        height: 100vh;
        max-width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            max-width: 1400px;
            height: 140px;
            background-color: $dark-color;
            bottom: -25px;
            left: 0;
        }

        .ld-esquerdo {
            width: 35%;

            span {
                font-weight: 500;
                font-size: 1.5rem;

                h2 {
                    font-size: 2.7rem;
                }
            }
    
            .servico {
                line-height: 1.5rem;
            }

            .btns {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                margin-top: 3rem;

                .btn {
                    padding: .5rem 1rem;
                    border-radius: .5rem;
                }

                .btn-sobre {
                    background-color: $primary-color;
                    transition: .3s ease-in-out;

                    &:hover {
                        background-color: #7562e0c8;
                    }
                }
                .btn-projetos {
                    border: 1px solid $primary-color;
                    transition: .3s ease-in-out;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.139);
                    }
                }
            }
        }
    
        .esfera {
            width: 400px;
            background-color: $primary-color;
            width: 25rem;
            height: 25rem;
            border-radius: 100%;
            margin-top: 15rem;

            img {
                margin: -3.1rem 0 0 2rem;
                height: 21rem;
            }
        }
    }
}

#sobre {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $bg-secondary;
    color: $white;

    .caixa {
        width: 75%;
        max-width: 1400px;

        .title-sobre {
            font-size: 1.6rem;
            margin-top: 8rem;
        }

        .texto-sobre {
            line-height: 1.8rem;
        }

        .caixas {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin: 2rem 0 0 0;

            .caixa {
                width: 12rem;
                height: 12rem;
                display: flex;
                border-radius: .3rem;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 1.4rem;
                }
            }
            .caixa-ui {
                background-color: $low-priority;
            }
            .caixa-dev {
                background-color: $primary-color;
            }
        }

        .servicos {

            .title-servicos {
                font-size: 1.4rem;
                margin: 3rem 0 2rem 0;
            }

            .texto-servicos {
                font-size: 1.2rem;
            }

            .caixas-servicos {
                display: grid;
                grid-template-columns: 1fr 1fr;
                place-items: center;
                gap: 2rem;

                .caixa {
                    width: 16rem;
                    height: 16rem;
                    padding: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: .5rem;
                    border-radius: .5rem;

                    h4 {
                        font-size: 1.2rem;
                    }
                    p {
                        text-align: center;
                        font-size: .9rem;
                    }
                }

                .caixa-dev {
                    border: 1px solid $low-priority;
                }

                .boder {
                    border: 1px solid $primary-color;
                }
            }
        }
    }
}

#projetos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $bg-secondary;
    color: $white;

    .caixa-container {
        margin: 8rem 0 0 0;
        max-width: 1400px;
        width: 75%;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        .slide {
            width: 1200px;
            max-width: 1400px;

            .my-slider {
                display: flex;
                width: 10%;
                gap: 2rem;
    
                .caixa {
                    background-color: #31313F;
                    border-radius: .5rem;
                    display: flex;
                    gap: 1rem;
                    width: 320px;
                    padding: 2rem;
                    height: 400px;
                    flex-direction: column;

                    img {
                        border-radius: .5rem;
                    }
    
                    p {
                        font-size: 1rem;
                    }

                    .btns {
                        display: flex;
                        justify-content: space-between;

                        a {
                            padding: .5rem;
                            border-radius: .6rem;
                        }

                        .link-online {
                            background-color: $primary-color;
                        }
                        .link-repositorio {
                            border: 1px solid $primary-color;
                        }
                    }
                }
    
            }

            .swiper-button-next, .swiper-button-prev {
                color: $primary-color;
            }
        }

        .swiper {
            width: 1000px;
            max-width: 1400px;
            padding: 4rem 0;
            overflow: hidden;
        }
    }
}