// colors 

$white: #fff;
$light-color: #F5F5F5;
$low-priority: #848191;
$primary-color: #7562E0;
$secondary-color: #282162;
$dark-color: #000036;


//Backgrounds

$bg-primary: #1A1A29;
$bg-secondary: #181824;